/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0044CC, #A328D6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}