<div class="container">
    <div class="form-container">
        <form>
            <h1>Registration <button type="submit">Register</button></h1>
            
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
            
            <label for="mobile">Mobile</label>
            <input type="text" id="mobile" name="mobile">
            
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password">
        </form>
    </div>
</div>
